/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
a{
	color: black;
	text-decoration: none;
}
li:hover, a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline:none;
	-webkit-appearance:none!important;
	-moz-appearance:none!important
}


#contact label, #login label{
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}








/* CATEGORIES */
#portfolio form{
	display: flex;
	justify-content: center;
}
#portfolio input {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	margin : 2em 5px ;
	text-align: center;
	border-radius: 60px ;
	height: 40px;
	width:auto;
	padding: 0 1rem;
	font-size: 1.2em;
	transition:.1s ease-in
}
#portfolio input.active {
	color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	transition:.1s ease-in
}
#portfolio .hidden{
	display: none;
	transition:.1s;
}


/* login */

#login h2{
	text-align: center;
}

#login a {
	display: block;
	text-align: center;
	text-decoration: underline;
}
#login a:hover {
	color: #B1663C;
}
.currentLink{
	font-weight: bold;
}
.currentLink:hover{
	color: black;
}
.error{
	margin-top:2rem;
	text-align: center;
	color: red;
}
.hidden{
	display: none!important;
}


/*  Mode édtion */
.editmode{
	display: flex;
	gap:10px;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background-color: black;
	color: white;
	padding:1rem;
	justify-content: center;
	margin: 0;
}

.editBtn{
	display: flex;
	gap:10px;
	position: absolute;
	margin-top:-3rem;
	margin-left:43rem;
}

/*  Mode éditon galerie */
#editWork{
	background: rgba(0, 0, 0, 0.2);
	position:fixed;
	left:0;
	top:-4px;
	width:100%;
	height:100vh;
}
#editWork .editModal {
	max-width:500px;
	margin:5rem auto;
	background:white;
	padding:2rem 8rem;
	border-radius: 1rem;
}
#editWork h2 {
	text-align: center;
	margin:1rem 0 3rem 0;
	font-size:1.5rem;
	color: black;
	font-family: 'Work Sans';
	font-weight: lighter;
}
#editWork #editWorkGallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap:10px;
	row-gap:20px;
}
#editWork article img{
	width:100%
}
#editWork .divider{
	border-top:1px solid grey;
	margin:3rem 0 2rem 0;
}
#editWork input{
	display: block;
	height: 35px;
	width:50%;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


/* Ajout photo */
#file{
	visibility: hidden!important;
}
.galleryAddContent form{
	display: flex;
    flex-direction: column;
}
.bluesection {
    display: flex;
	flex-direction: column;
    text-align: center;
    background: #e9f1f6;
    padding: 1rem;
	margin-bottom:1rem;
}

.bluesection i {
    font-size:5rem;
	color: #ccd6dc;
}

.uploadBtn {
    background: #ccd6dc;
    color: #366583;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 2rem;
    margin: .5rem 20% -1rem 20%;
}
input#addTitle, input#addCategorie {
	width:100%;
}
input#addTitle {
	margin-bottom:1rem;
}
.greyBtn{
	background:#a7a7a7!important;
}
.bluesection label.imgUplodaded img {
    margin: -1rem 0 -3.25rem 0;
    height: auto;
    width: 200px!important;
}



/* Modal buttons*/
.navModal {
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    margin: 0 -5.5rem;
}
.deleteWork{
	display: flex;
	position: relative;
	justify-content: end;
	z-index:10;
	margin-bottom:-1.75rem;
	margin-right:.25rem;
}
.deleteWork:before{
	padding:5px;
	border-radius:5px;
	background: black;
	color: white;
}

/* Pointer */
.deleteWork:before, .closeModal, .logout, .editBtn, .returnModal, .greyBtn{
	cursor: pointer;
}